.header {
  height: 70px;
  background-color: var(--secondary-background-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

  &__space {
    width: 80px;
    height: 50px;
  }
}
