.contacts {
  background-color: var(--primary-background-color);
  min-height: calc(100vh - 140px);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
