.main {
  min-height: calc(100vh - 140px);
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .test {
    border: 1px solid red;
    font-size: 50px;
  }

  &__settings {
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
  }

  &__input {
    width: 215px;
    height: 35px;
    padding: 2px 15px;
    font-size: 16px;
    outline: 1px solid var(--border-color);
    border-radius: 4px;

    &:focus {
      outline: 1px solid var(--primary-color);
    }
  }

  & &__matButton {
    background-color: var(--primary-color) !important;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: none;
  }

  &__content {
    max-width: 1920px;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
  }
}
