<div class="main">
  <div class="main__settings">
    <input
      type="text"
      placeholder="Введите название"
      class="main__input"
      (input)="handleSearch($event)"
    />
    <button mat-raised-button class="main__matButton" (click)="handleClick()">
      Найти
    </button>
  </div>

  <div class="main__content" *ngIf="!isLoading; else spinner">
    <ng-container *ngIf="data.length; else notFound">
      <div class="main__card" *ngFor="let item of data">
        <app-card [movie]="item"></app-card>
      </div>
    </ng-container>
    <ng-template #notFound> No results </ng-template>
  </div>
  <ng-template #spinner>
    <div class="main__content">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>
